// Define variables for your color scheme

// For example:
$red: #A83673;
$rose:#C06493;
$pink: #D09CBF;
$ocean: #0D101C;
$sea: #16213e;
$blue: #013A94;
$lake: #0f3460;
$light-blue: #9EC7E4;
$sky: #669EC7;
$yellow: #FFC65A;
$orange: #E1B459;
$green: #238531;
$gray: #e3c4a8;
$light-gray: #f6f5f5;
$dark-grey: #1F240A;
$brown: #6B364B
