<div class="banner">
  <h1>Welcome To The Fight-Club 1.0 </h1>
  <h2>Choose your fighter and GO!!</h2>
  <br>
  <%= link_to "Fight Now!", fighters_path, class: "home-login" %>
</div>

<div class="container mt-5 intro">
  <h3>How to play?</h3>
  <br>
  <p class="description">The concept of the game is simple. You can choose a fighter from our fight club by clicking their profile image, and you can add an equipment to renforce your fighter. Then you can launch a match by clicking the button "FIGHT". Enjoy :)</p>
  <br>
</div>



